/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
Library/Bee/
Library/BurstCache/
Library/PackageCache/
Library/ShaderCache/
.vs/
*.tmp
*.user
*.xml
*.pdb
*.log
*.mdb
*.gz
*.zip
*.pdb
*.exe
*.cache
*.assets.resS
sysinfo.txt
